
:root {
  --bg: #f8fafc;
  --card: #ffffff;
  --text: #020617;
  --box: #e2e8f0;
  --btn: #2563eb;
}

body.dark {
  --bg: #071433;
  --card: #020617;
  --text: #ffffff;
  --box: #1e293b;
  --btn: #2563eb;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: var(--card);
  padding: 25px 30px;
  border-radius: 12px;
  width: 420px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2, h3 {
  color: rgb(169, 224, 17);
  text-align: left;
}

label {
  margin-top: 10px;
  display: block;
  font-size: 14px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  background: var(--box);
  color: var(--text);
}

button {
  margin-top: 15px;
  background: var(--btn);
  color: #fff;
  cursor: pointer;
}

#themeToggle {
  width: auto;
  padding: 6px 10px;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.output label {
  text-align: left;
  margin: 6px 0;
  font-size: 16px;
}

.clock-controls {
  display: flex;
  gap: 6px;
  margin: 15px 0;
}

.clock-controls button {
  flex: 1;
}

.clock {
  margin: 15px auto;
}

/* ANALOG CLOCK */
.analog {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: var(--box);
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-radius: 50%;
}

.hour {
  width: 6px;
  height: 60px;
  background: var(--text);
}

.minute {
  width: 4px;
  height: 85px;
  background: var(--text);
}

.second {
  width: 3px;
  height: 90px;
  background: red;
}

.clock span {
  position: absolute;
  inset: 10px;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}

.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.clock::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #dc2626;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.number {
  font-size: 14px;
}

/* DIGITAL CLOCK */
.digital {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

.analog {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow:
    8px 8px 20px rgba(0,0,0,0.25),
    -8px -8px 20px rgba(255,255,255,0.1),
    inset 2px 2px 6px rgba(255,255,255,0.2),
    inset -2px -2px 6px rgba(0,0,0,0.3);
}

/* DAY AND DATE */
.day-date {
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  opacity: 0.6;
}

/* RESET BUTTON */
#resetBtn {
  background: #dc2626;
  margin-top: 8px;
}
